<section class="main">
  <div class="container">
    <div class="page-header"></div>
    
    <app-optional></app-optional>
    
    <div class="row">
      <div class="col-xs-12 col-md-8 col-md-offset-2">
        <hr>
      </div>
    </div>

    <app-username></app-username>

    <div class="row">
      <div class="col-xs-12 col-md-8 col-md-offset-2">
        <hr>
      </div>
    </div>
    
    <app-email></app-email>
    
    <div class="row">
      <div class="col-xs-12 col-md-8 col-md-offset-2">
        <hr>
      </div>
    </div>
    
    <app-password></app-password>
  </div>
</section>