<form [formGroup]="passwordForm" (ngSubmit)="submit()">
  <div class="row">
    <div class="col-xs-12 col-md-8 col-md-offset-2">
      <!-- PASSWORD BS3-FORM-GROUP -->
      <div 
      class="form-group has-feedback"
      [class.has-error]="password.invalid && password.touched"
      [class.has-success]="password.valid && password.touched">
        <label 
        for="password"
        class="hidden-xs control-label">New Password</label>
        <div class="input-group">
          <div class="input-group-addon">
            <i class="fa fa-key"></i>
          </div>
          <!-- password input field -->
          <input
          [formControlName]="'password'"
          #passwordField
          id="password" 
          type="password" 
          class="form-control" 
          placeholder="password">
          <!-- input feedback icon -->
          <span 
          *ngIf="password.touched"
          class="fa form-control-feedback"
          [class.fa-check]="password.valid"
          [class.fa-warning]="password.invalid"></span>
        </div>
        <p class="help-block">
          <ng-template [ngIf]="password.invalid && password.touched">
            <span *ngIf="password['errors']['required']">Password is required</span>
            <span *ngIf="password['errors']['minlength']&& !password['errors']['required']">Password minimum length 6 characters</span>
          </ng-template>
        </p>
      </div>
      <!-- PASSWORD CONFIRM BS3-FORM-GROUP -->
      <div 
      class="form-group has-feedback"
      [class.has-error]="passwordConfirm.invalid && passwordConfirm.touched"
      [class.has-success]="passwordConfirm.valid && passwordConfirm.touched">
        <label 
        for="password-confirm"
        class="hidden-xs control-label">Confirm Password</label>
        <div class="input-group">
          <div class="input-group-addon">
            <i class="fa fa-key"></i>
          </div>
          <!-- password-confirm input field -->
          <input
          #passwordConfirmField
          [formControlName]="'passwordConfirm'"
          id="password-confirm" 
          type="password" 
          class="form-control" 
          placeholder="confirm password">
          <!-- input feedback icon -->
          <span 
          *ngIf="passwordConfirm.touched"
          class="fa form-control-feedback"
          [class.fa-check]="passwordConfirm.valid"
          [class.fa-warning]="passwordConfirm.invalid"></span>
        </div>
        <p class="help-block">
          <ng-template [ngIf]="passwordConfirm.invalid && passwordConfirm.touched">
            <span *ngIf="passwordConfirm['errors']['required']">Please confirm your password</span>
            <span *ngIf="passwordConfirm['errors']['passwordMismatch'] && !passwordConfirm['errors']['required']">Passwords do not match</span>
          </ng-template>
        </p>
      </div>
      <!-- FORM BUTTONS GROUP -->
      <div class="form-group">
        <button 
        class="btn btn-primary pull-right"
        [disabled]="passwordForm.invalid">Update</button>
      </div>
    </div>   
  </div>
</form>