<footer>
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12 col-md-8 col-md-offset-2">
        <a href="https://github.com/AdelMahjoub" target="_blank" class="btn btn-default social"><i class="social-icon fa fa-github"></i></a>
        <a href="https://www.freecodecamp.com/adelmahjoub" target="_blank" class="btn btn-default social"><i class="social-icon fa fa-free-code-camp"></i></a>
        <a href="https://codepen.io/SultanCodeCamper/" target="_blank" class="btn btn-default social"><i class="social-icon fa fa-codepen"> </i></a>
        <a href="https://twitter.com/II_Adel_II?lang=fr" target="_blank" class="btn btn-default social"><i class="social-icon fa fa-twitter"></i></a>
        <a href="https://www.facebook.com/adel.mahjoub.9809" target="_blank" class="btn btn-default social"><i class="social-icon fa fa-facebook"></i></a>
        <a href="https://www.linkedin.com/feed/" target="_blank" class="btn btn-default social"><i class="social-icon fa fa-linkedin"></i></a>
      </div>
    </div>
  </div>
</footer>