<div class="col-xs-12 col-md-4" *ngIf="game && path !== 'users-requests'">  

  <div class="panel panel-default game-panel">
      <div class="panel-heading">
        <h3 class="panel-title" [innerHTML]="userGame['name']"></h3>
      </div>
      <div class="panel-body">
        <img 
          class="img-thumbnail img-responsive"
          [src]="userGame['coverUrl']" 
          [alt]="userGame['name'] + ' cover'">
        <hr>
        <a
        *ngIf="userGame['url']" 
        [href]="userGame['url']" target="_blank">
        Game details
        <i class="fa fa-external-link"></i>
        </a>

         <hr>

        <ng-template [ngIf]="userGame['owner']">       
          <p>
            <strong>Owner: </strong>
            <a [routerLink]="['/games', userGame['owner']['username']]">
              <span>{{ userGame['owner']['username'] }}</span>
            </a>
          </p>
        </ng-template>
        
        <p *ngIf="notification">
          <span class="text-info" [innerText]="notification"></span>
        </p>
       
      </div>
      <div class="panel-footer">
        <button 
        (click)="addGame()"
        class="btn btn-success" 
        *ngIf="!userGame['owner']">Add to my collection</button>
        
        <button 
        (click)="requestGame()"
        class="btn btn-default" 
        *ngIf="userGame['owner'] && !authIsOwner && !gameIsRequested">Request the game</button>

         <button 
        (click)="retract()"
        class="btn btn-warning" 
        *ngIf="gameIsRequested">Retract</button>

        <button 
        disabled
        class="btn btn-info" 
        *ngIf="authIsOwner">Your Game</button>

        <button 
        (click)="discard()"
        class="btn btn-danger" 
        *ngIf="authIsOwner">Discard</button>
    
      </div>
  </div>
</div>

<div 
  class="col-xs-12 col-md-12" 
  *ngIf="path === 'users-requests'">
  <div class="well">
    <p>
      <strong>{{ userGame['name'] }}</strong>
    </p>
    <p>
      <em>Requested By</em>
    </p>
    <p *ngFor="let requester of userGame['requestedBy']">
      <a [routerLink]="['/games', requester['username']]">
        {{ requester['username'] }}
      </a>
    </p>
  </div>
</div>



